@import './../modules/_variables.scss';
.about__container{
  margin: 16.5%;
  .img___container{
    img{
      width:100%;
      max-width: 550px;
    }
  }
}

.text__container{
  max-width: 900px;
  margin-left: 180px;
  p{
    font-size: 36px;
  }
}


.learn__more{
  width: 220px;
  line-height: 40px;
  margin-top: 20px;
  color:#fff;
  background-color:$yellow;
  border-radius: 20px;
  text-align: center;
  p{

    font-size: 18px;
  }
}

@media screen and (max-width:900px){
  .text__container{
    text-align: center;
    margin: 0;
    p{

      font-size: 24px;
    }
  }
  .learn__more{
    margin: 0 auto;
  }
}