@import './../modules/_variables.scss';
.nav__container{
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1255px;
  margin: 0 auto;



    .left__menu__container{
      .menu__wrapper{
        max-width: 355px;
        display: flex;
        
        .menu__items{
          list-style: none;
          margin: 5px;
          font-size: 14px;
          font-weight: bold;
          margin-left: 50px;

        }
      }
    }
  .logo__nav{
    img{
      width: 100%;
    }
  }
  .account__container{
    display: flex;
    width: 194px;
    justify-content: space-between;
    margin-right: 97px;
  }
}
.button{
  display: inline-block;
  width: 92px;
  border-radius: 9px;
  border:1px solid $yellow;
  box-sizing: border-box;
  text-align: center;
  color: $yellow;
  font-weight: bold;
  line-height: 27px;
  p{

    vertical-align: middle;
  }
  &.active{
    background-color: $yellow;
    color: #fff;
  }
}